@import '~css/variables';

.button {
  &.primary {
    min-width: 80px;
    font-weight: 600;
    color: $white;
    padding: $margin-small/4 $margin-small/2;
    border-radius: $border-radius;
    background-color: $primary-color;
    box-shadow: $box-shadow-1;
    cursor: pointer;
    &:hover {
      background-color: darken($primary-color, 5);
    }
    &:active {
      background-color: lighten($primary-color, 5);
    }
  }
}
