@import '~css/variables';

.container {
   max-width: $container-max-width;
   width: 100%;
   padding-left: $margin;
   padding-right: $margin;
   margin: 0 auto;
   width: 100vw;
   box-sizing: border-box;
}
