@import '~css/variables';
.eventlist {
  .list {
    list-style-type: none;
    border-radius: $border-radius;
    overflow: auto;
    height: 60vh;
    box-shadow: $box-shadow-1;
    background: white;
  }
  .new_event {
    text-align: right;
  }
}
