@import '~css/variables';

.header {
  background: white;
  color: white;
  height: $top-bar-height;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: $box-shadow-1;
  .logo {
    height: 80px;
    width: auto;
  }
  .container {
    height: $top-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
