@import '~css/variables';

.eventcard {
  border-left: solid 8px red;
  box-sizing: content-box;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  height: 120px;
  padding: $margin_small/2 0;
  &:hover {
    background-color: darken(#FFFFFF, 5);
    border-left: solid 8px darken(red, 10);
  }
  .image_container {
    box-shadow: $box-shadow-2;
    width: 120px;
    height: 120px;
    margin: 0 $margin_small/2;
    img {
      height: 150%;
      width: auto;
      object-fit: cover;
      background-size: cover;
    }
    border-radius: 50%;
    overflow: hidden;
  }
  .content {
    padding: $margin_small/2 $margin_small/2;
  }
}
