@import '~css/variables';

$event-card-border: 8px;
$event-card-height: 120px;
$event-card-height-big: 180px;

.eventcard {
  border-left: solid $event-card-border red;
  box-sizing: content-box;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  height: $event-card-height;
  padding: $margin_small/2 0;
  width: calc(100% - #{$event-card-border});

  @media screen and (max-width: $xs-breakpoint) {
    height: $event-card-height-big;
  }
  &:hover {
    background-color: darken(#FFFFFF, 5);
    border-left: solid $event-card-border darken(red, 10);
  }
  .image_container {
    position: relative;
    top: -$margin_small/2;
    width: calc(#{$event-card-height} + #{$margin_small});
    height: calc(#{$event-card-height} + #{$margin_small});
    margin-right: $margin_small/2;
    img {
      height: 150%;
      width: 100%;
      object-fit: cover;
      background-size: cover;
    }
    overflow: hidden;
    @media screen and (max-width: $sm-breakpoint) {
      width: 80px;
      height: 80px;
      min-width: 80px;
      margin-top: auto;
      margin-bottom: auto;
    }
    @media screen and (max-width: $xs-breakpoint) {
      display: none;
    }
  }
  .content {
    padding: $margin_small/2 $margin_small/2;
  }
  .link {
    color: initial;
    text-decoration: none;
  }
}
