$font-family: 'Source Sans Pro', sans-serif;

$padding: 1.8rem;

// GRID SYSTEM VARIABLES
$xs-breakpoint: 350px;
$sm-breakpoint: 768px;
$md-breakpoint: 1024px;
$lg-breakpoint: 1440px;

$breakpoints: (
  xs: $xs-breakpoint,
  sm: $sm-breakpoint,
  md: $md-breakpoint,
  lg: $lg-breakpoint
);

$container-max-width: 1020px;
$jumbo-container-max-width: 670px;
$page-content-max-width: 520px;

// Color variables
$dark-gray: #343a40;
$celeste: #02cbe3;
$light-gray: #c3c3c3;
$white: #ffffff;
$red: #ff0000;
$error: #b6061b;
$orient-blue: #00548b;
$sky-blue: #46b0f2;
$disabled: #f0f0f0;
$dark: #1b2428;
$black: #000000;
$gray: #898989;
$border-color: #979797;
$alabaster: #f4f7f6;

// Color Pallete
$primary-color :rgb(255, 200, 0);


$background-gray: $alabaster;

$colors: (
  'black': $black,
  'sky-blue': $sky-blue,
  'red': $red,
  'white': $white,
  'dark': $dark,
  'gray': $gray,
  'dark-gray': $dark-gray,
  'light-gray': $light-gray,
  'transparent': transparent,
  'disabled': $disabled,
  'orient': $orient-blue,
  'error': $error
);

// GENERAL SIZES
$top-bar-height: 100px;
$margin: 2.5rem;
$margin_large: 2.375rem;
$margin_medium: 2rem;
$margin_small: 1.5rem;
$footer-height: 181px;

$border-radius: .5rem;


// SHADOWS
$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
