@import url('https://fonts.googleapis.com/css?family=Lato');
@import './lib/odyssey.scss';
@import './variables';
@import './utils/text';
@import './utils/margin';

* {
  font-family: $font-family;
  box-sizing: border-box;
}

body {
  background: $background-gray;
}
