@import url('https://fonts.googleapis.com/css?family=Lato');
@import './lib/odyssey.scss';
@import './variables';
@import './utils/text';
@import './utils/margin';

* {
  font-family: $font-family;
  box-sizing: border-box;
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

body {
  background: $background-gray;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


